<div class="content">
  <div class="box">
    <div>
      <h4>Stories</h4>
    </div>
    <div>
      <mat-form-field>
        <input matInput id="search" placeholder="Search" [formControl]="searchControl" />
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="dataSource?.data?.length">
    <table mat-table [dataSource]="dataSource">
      <ng-container
        [matColumnDef]="column"
        *ngFor="let column of displayedColumns"
      >
        <tr>
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let emp">{{ emp[column] }}</td>
        </tr>
      </ng-container>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{ clickable: !!row?.url }"
        (click)="openStoryInNewTab(row?.url)"
      ></tr>
    </table>
  </div>

  <div>
    <mat-paginator
      #paginator
      [pageSizeOptions]="[10]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
